body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.leftpanel {
    position: relative;
    width: 640px;
    height: 100%;
    float: left;
}

.rightpanel {
    float: right;
    background-color: #DADADA;
    height: 100%;
    position: fixed;
    right: 0;
    background: url('http://www.restreets.org/sites/default/files/GoogleMap.jpg');
    background-size: cover;
}

.riobar {
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #000;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.32);
    border-right: 1px solid #000;
    z-index: 100;
}

.riologo {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 4px;
    border-radius: 2px;
    box-shadow: 0 0 4px #B53333;
    border: 1px solid #FFF;
}

.riologo a {}

.riologo a img {
    width: 40px;
}

.rioleftcontent {
    position: relative;
    width: 566px;
    height: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.34);
    background-color: #FFF;
    margin-left: 50px;
    padding: 12px;
    z-index: 1;
}

.search {
    position: relative;
}

.searchip {
    width: 566px;
    height: 35px;
    padding: 8px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #737373;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    background-color: #F4F4F4;
}

.search a {
    background: url('imgs/search-128.png') no-repeat center;
    display: block;
    width: 33px;
    height: 33px;
    background-size: 18px;
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
    opacity: 0.3;
}

.riowish {
    position: absolute;
    top: 7px;
    right: -56px;
    width: 42px;
    height: 42px;
    background-color: #FC595F;
    z-index: 2;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    border: 2px solid #FFF;
}

.riowish:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.riowish a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: #FFF;
    display: block;
    line-height: 41px;
    font-weight: 300;
}

.riotab {
    list-style: none;
    margin-top: 5px;
}

.riotab .menutab {
    list-style: none;
}

.riotab .menutab li {}

.riotab .menutab li a {
    display: block;
    width: 49px;
    height: 65px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    line-height: 31px;
    margin-left: 0px;
    border-radius: 0;
    border-bottom: 1px solid #3F3F3F;
}

.riotab .menutab a i {
    margin-top: 25px;
    color: #FC595E;
}

.riotab .menutab li.active a {
    margin-left: 4px;
    background-color: #FFF;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 0;
}
.rioshowwish{  margin-top: 15px;}
.rioshowwishul{
list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}
.rioshowwishul li{  float: left;
  width: 275px;
  overflow: hidden;
  margin-left: 15px;position: relative;  margin-bottom: 22px;}
.rioshowwishul li a.wishimg{display: block;
  width: 275px;
  height: 168px;
  overflow: hidden;}
.rioshowwishul li a.wishimg img{
  width: 100%;
}
.rioshowwishul li h2 a{
   text-decoration: none;
  display: block;
  height: 24px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #2A2A2A;
  width: 208px;
}
.rioshowwishul li .rioavata{    width: 50px;
  height: 50px;
  position: absolute;
  top: 141px;
  right: 10px;
  border-radius: 50px;
  border: 2px solid #FFF;}
  .rioshowwishul li .rioavata img{    width: 50px;
  height: 50px;
  border-radius: 50%;
   }
  .wishlocation{
  color: #9D9D9D;
  }
   .wishlocation i{
  	
  }
   .wishlocation span{
  	
  }
  .wishprice{  position: absolute;
  top: 128px;
  left: 0;
  background-color: rgba(252, 89, 95, 0.7);
  padding: 7px 10px;
  font-weight: 700;
  color: #FFF;
  font-size: 14px;}